<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>n</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-8</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-112</integer>
      <key>public.kern2.one</key>
      <integer>-64</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-128</integer>
      <key>public.kern2.V</key>
      <integer>-128</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-128</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.z</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-16</integer>
    </dict>
  </dict>
</plist>
